@charset "UTF-8";
/* Definição dos padrões (cores e fontes) */
:root{
  --fundo: #fa8072;
  --mostrador: lightgray;
  --anel: darkgray;
  --ponteiros: white;
  --segundos: goldenrod;
  --numeros: lightgoldenrodyellow;
  --sombra: rgba(0,0,0,.7);
  --font-padrao: 'Courier New', Courier, monospace;
}
/* Ajuste da tag body - incrementado alteração do fundo*/
body{
  animation: changeBg 5s infinite alternate linear;
  margin: 0;
  padding: 0;
  background-color: var(--fundo);
  font-family: var(--font-padrao);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes changeBg{
  0%{
    background: #ee6055;
  }
  25%{
    background: #60d394;
  }
  50%{
    background: #aaf683;
  }
  75%{
    background: #ffd97d;
  }
  100%{
    background: #ff9b85;
  }
}
/* Estilo da imagem do logo */
img{
  position: absolute;
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  z-index: 2;
}
/* Ajuste do relógio */
.clock{
  position: relative;
  background-color: var(--mostrador);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px solid var(--anel);
  box-shadow: 1px 1px 4px var(--sombra);
}
/* Ajuste do mostrador */
.numeros div{
  position: absolute;
  font-size: 27px;
  font-weight: bold;
  color: var(--numeros);
  text-shadow: 1px 1px 2px var(--sombra);
}

.doze{
  top: 6px;
  left: 50%;
  transform: translate(-50%);
}
.tres{
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}
.seis{
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}
.nove{
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}
/* Ajuste dos ponteiros */
.ponteiros{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.ponteiros::before{
  content: "";
  width: 25px;
  height: 25px;
  background-color: darkgreen;
  border-radius: 50%;
  box-shadow: 1px 1px 2px var(--sombra);
  z-index: 4;
}
.ponteiros div{
  background-color: var(--ponteiros);
  width: 7px;
  position: absolute;
  height: 120px;
  transform-origin: bottom center;
  bottom: 50%;
  z-index: 3;
  border-radius: 50% 50% 0 0;
  box-shadow: 1px 1px 2px var(--sombra);
}
.ponteiros .horas{
  height: 80px;
  transform: rotate(30deg);
}
.ponteiros .segundos{
    transform: rotate(250deg);
    background-color: var(--segundos)
}